{% extends "base.html"  %}


{% block style  %}
<!-- .aa{background-color:#faa;}
.bb{background-color:#aaf;}
.cc{background-color:#afa;} -->

{% endblock  %}


{% block content  %}
<div class="container">
	<div class="row">
		<div class="col-12 col-sm-12  col-md-12 aa ">jkljkjrlewjrljqoir;uqeoiruoj j jifeowqpjrijqek jkljlkjioljf kjkljdk  jklj klj</div>
		<div class="col-12 col-sm-12  col-md-6  bb">popopopooipoipipoiupojlnflkdjqlkjdfklq;jfkljdklfjwkldjfkl</div>
		<div class="col-12 col-sm-12  col-md-6 cc">qqqqqqqjdfhkjshfhjsgfa hj</div>


	</div>


</div>





{% endblock  %}
