{% extends "base.html" %}
{% block style %}
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }
    .index{margin-top:50px; margin-right:250px;}
{% endblock %}

{% block content %}

<div class="center" >
<div class="index"><a href="/index">返回首頁</a></div>
<!-- 下面的action沒指定就是再回目前的url-->
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div>品名<input type="text" name="item_name" id="item_name" ></div>
<div>描述<input type="text" name="item_description" id="item_description" ></div>
<div>價格<input type="text" name="item_price" id="item_price" ></div>
<div>商品照片<input type="file" name="item_photo_image" id="item_item_photo_imagename" ></div>
<div><input type="submit"  value="儲存商品"></div>
</form>

</div>
{% endblock %}