{% extends "base.html" %}


{% block style %}
.delform{
width:300px;height:600px;
margin:10px auto 30px;
background-color:blue;
padding:20px ;
color:#FFF;
border:sloid red 10px;

}
.delform span{
  box-sizing: border-box;
  width:100%; 
  padding: 5px; 

}
.leftbutton{  
  margin:10px 100px 20px 720px;
 }

{% endblock %}

{% block content %}
<form action="/webuser/{{field_data.id}}/delete/delete"  method="POST">
<table class="delform">
{% csrf_token %}
<tr>
<td >帳號:&nbsp&nbsp&nbsp   <span>{{ field_data.username }}</span ></td>
</tr>
<tr>
<td>嗜好:&nbsp&nbsp&nbsp <span>{{ field_data.hobit  }}</span></td>
</tr>
<tr>
<td>first_name:&nbsp&nbsp&nbsp <span>{% if field_data.first_name == '' %}None{% else %}{{ field_data.first_name }}{% endif %}</span></td>
</tr>
<tr>
<td>last_name:&nbsp&nbsp&nbsp <span>{% if field_data.last_name == '' %}None{% else %}{{ field_data.last_name }}{% endif %}</span></td>
</tr>



</table>
<div class="leftbutton"><button  onclick="doublecheck();">update</button>
<button onclick="back_to_index();">index</button>
</div>
</form>

{% endblock %}


{% block script  %}
<script>
  function doublecheck(){
  	var recheck= confirm("\n sure to delete data\n after delete can't back");
    if(recheck){
      alert( {{field_data.first_name}} " is deleted");
    }else{
       alert( " cannceled");
      setTimeout(function(){
       window.location.href = 'http://homepi.myftp.org:8000/webuser/{{field_data.id}}/delete/load';
    }, 0);
    }
  }

  function back_to_index(){
    setTimeout(function(){
       window.location.href = 'http://homepi.myftp.org:8000/index';
    }, 0);

  }
  </script>
{% endblock  %}
